<section id="footer" class="full-height">
    <div class="container">
        <header>
            <h1>{{PartialTest}}</h1>
            <div class="section-title-divider"></div>
        </header>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Lorem ipsum dolor sit amet, mel in duis laoreet forensibus, his cu urbanitas elaboraret. No qui
                    cetero nostrud intellegat. Soluta atomorum perpetua usu ei, graeco quaeque mea at. Hinc laboramus ea
                    sea. Duo eu postea noster sanctus, id mea novum tantas volumus.
                </p>
            </div>
        </div>
    </div>
</section>
