<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home" ng-click="scrollSmoothToTop()">{{AppName}}</a>
        </div>

        <div id="navigation" class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right pull-right">
                <li data-ng-repeat="item in localeMenuItems | orderBy: 'position'" class="dropdown">
                    <a ui-sref="{{item.uiState}}"
                       data-ng-bind="item.title"
                       ng-class="item.class == 'dropDown' ? 'dropdown': ''"
                       ng-attr-data-toggle="{{item.class == 'dropDown' ? 'dropdown' : ''}}"
                       >
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="subItem in item.items | orderBy: 'position'">
                            <a ng-click="changeLanguage(subItem.uiState)"
                               data-ng-bind="subItem.title">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right pull-right">
                <li data-ng-repeat="item in topBarMenuItems | orderBy: 'position'" class="dropdown">
                    <a ui-sref="{{item.uiState}}"
                       data-ng-bind="item.title"
                       ng-class="item.class == 'dropDown' ? 'dropdown': ''"
                       ng-attr-data-toggle="{{item.class == 'dropDown' ? 'dropdown' : ''}}">
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="subItem in item.items | orderBy: 'position'">
                            <a ui-sref="{{subItem.uiState}}"
                               data-ng-bind="subItem.title">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
