#core {
  position: relative;
  background: #ffffff url("modules/core/img/header_1200x800.jpg") repeat;
  background-size: 100% 100%;
  height: 80vh;
  overflow: hidden;
  padding-top: 5em;
}

.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#core * {
  position: relative;
}