/*phi = 1.61803398875
line-height(phi) = font-size * phi
line-width = line-height(phi)^2
*/
html, body {
  height: 100vh;
  width: 100vw; }

html {
  font-size: 67.5%; }

body {
  font-size: 1.4em;
  line-height: 2.2652em; }

h1 {
  font-size: 2em;
  line-height: 3.236em; }

h2 {
  font-size: 1.5em;
  line-height: 2.427em; }

h3 {
  font-size: 1.17em;
  line-height: 1.893em; }

h4 {
  font-size: 1em;
  line-height: 1.618em; }

h5 {
  font-size: .83em;
  line-height: 1.343em; }

h6 {
  font-size: .75em;
  line-height: 1.2135em; }

h1, h2, h3, h4, h5, h6 {
  text-align: center; }

.center-h {
  margin: auto; }

.center-v {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.full-height {
  position: relative;
  width: 100vw;
  height: 100vh; }

.section-title-divider {
  width: 5%;
  height: 0.1em;
  margin: -2em auto 2em auto; }

/* Bootstrap */
.navbar {
  height: 7%; }

.container {
  padding-bottom: 5em; }
